<div id="login" [style.min-height.px]="container_min_height">

    <img class="himg" src="../../../../media/images/smitd_logo_text.png"><br>

    <form [formGroup]="loginForm" novalidate>
        <div class="form-control">
            <mat-form-field>
                <input matInput placeholder="Username" formControlName="username">
                <mat-error *ngIf="username.hasError('required')">
                    Username is <strong>required</strong>
                </mat-error>
            </mat-form-field>
        </div>

        <div class="form-control">
            <mat-form-field>
                <input matInput placeholder="Password" formControlName="password" type="password">
                <mat-error *ngIf="password.hasError('required')">
                    Password is <strong>required</strong>
                </mat-error>
            </mat-form-field>
        </div>

        <button mat-raised-button class="mat-primary" (click)="submit()" [disabled]="!loginForm.valid">Login</button>
        
    </form>
    
    <div class="separator">
        <div></div><p >or</p><div></div>
    </div>
    <a routerLink="/register">Create a free SMITD Account</a>
    <br>
    <!-- <br><a href="">Can't log in?</a> -->
    <br>

</div>
