<div id="login" [style.min-height.px]="container_min_height">

  <img class="himg" src="../../../../media/images/smitd_logo.png"><br>

  <input type="text" name="" placeholder="username"><br>
  <input type="password" name="" placeholder="password"><br>

  <button type="button" name="button"> Log in to SMITD</button>

  <div class="separator">
    <div></div><p >or</p><div></div>
  </div>
  <a routerLink="/register">Create a free SMITD Account</a>
  <br>
  <!-- <br><a href="">Can't log in?</a> -->

</div>
