ul{
  float: left;
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline-block;
}
li{
  height: inherit;
  min-height: 40px;
  line-height: inherit;
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  font-family: CGB;
  font-size: 20px;
  color: rgba(155,155,155,1);
  transition: color 0.5s, background-color 0.5s, height 0.5s, width 0.5s, display 0.5s, line-height 0.5s, background-image 0.3s;
  cursor: pointer;
}
li:hover{
  background-color: rgba(50,50,50,1);
  color: #FFF;
}
.selected li{
  color: #FFF;
  background-color: rgba(50,50,50,1);
  cursor: default;
}
