:host{
    background-image: url("../../../media/backgrounds/smitd_bg_crystals.png");
    background-repeat: repeat;
    background-position: center;
    display: flex;
    justify-content: center;
}
#login{
  background-color: rgba(0,0,0,0.5);
  width: 100%;
}

@media (min-width: 720px) { #login{ width: 640px; } }
@media (min-width: 1000px) { #login{ width: 920px; } }
@media (min-width: 1200px) { #login{ width: 1140px; } }

#login a{
  color: #555;
  text-decoration: none;
  margin: 10px;
  margin-top: 20px;

  transition: color 0.2s;

  &:hover{
    color: #FFF;
  }
}

.text-input{
  font-family: CGB;
  font-size: 120%;
  color: #FFF;
  width: 60%;
  max-width: 360px;
  height: 30px;
  border-radius: 5px;
  text-align: center;
  background-color: rgb(50,50,50);
  border: 5px solid rgba(50,50,50,1);
  margin: 10px;

  &:focus{
      background-color: rgb(0,0,0);
      outline: none;
    }
}
button{
  font-family: CGB;
  font-size: 120%;
  color: #FFF;
  width: 62%;
  max-width: 370px;
  height: 40px;
  border-radius: 5px;
  text-align: center;
  background-color: rgb(30,30,30);
  border: 5px solid rgba(30,30,30,1);
  margin: 10px;

  transition: background 0.2s, border 0.2s, color 0.2s;

  &:focus{
    outline: none;
    background-color: #333;
    border: 5px solid #333;
  }
  &:hover{
    background-color: #333;
    border: 5px solid #333;
  }
  &:active{
    color: #999;
    background-color: #111;
    border: 5px solid #111;
  }
}

.himg{
  width: 200px;
}

.separator{
  text-align: center;
  text-transform: uppercase;
  color: #555;
  display: flex;
  align-items: center;
  justify-content: center;
}
.separator div{
  border: 1px solid #333;
  margin: 10px;
  width: 25%;
  max-width: 160px;
}

.checker{
  font-family: CGR;
  color: #FFF;
  margin-left: 50%;
  transform: translate(-50%);
  width: 62%;
  max-width: 370px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

input[type=checkbox] {
	visibility: hidden;
}
.checkboxThree {
	width: 80px;
	height: 40px;
	background: #333;
  margin-right: 10px;

	border-radius: 50px;
	position: relative;
}
.checkboxThree:before {
  font-family: CGB;
	content: '✔';
	position: absolute;

	top: 5px;
	left: 5px;
  height: 30px;
  width: 30px;
  border-radius: 100%;

	color: #0F0;
	font-size: 20px;
  background-color: #222;
}
.checkboxThree:after {
  font-family: CGB;
	content: '✘';
	position: absolute;

	top: 5px;
	left: 45px;
  height: 30px;
  width: 30px;
  border-radius: 100%;

	color: #F00;
	font-size: 20px;
  background-color: #222;
}
.checkboxThree label {
	display: block;
	width: 30px;
	height: 30px;
	border-radius: 50px;

	transition: all .5s ease;
	cursor: pointer;
	position: absolute;
	top: 5px;
	z-index: 1;
	left: 5px;
	background: rgba(255,0,0,1);
}
.checkboxThree input[type=checkbox]:checked + label {
	left: 45px;
	background:rgba(0,255,0,1);
}
