<div id="login" [style.min-height.px]="container_min_height">

  <img class="himg" src="../../../../media/images/smitd_logo.png"><br>

  <h1>Create an account</h1>

  <input class="text-input" type="email" name="" placeholder="E-Mail Adress"><br>
  <input class="text-input" type="text" name="" placeholder="Username"><br>
  <input class="text-input" type="password" name="" placeholder="Password"><br>
  <input class="text-input" type="password" name="" placeholder="Confirm Password"><br>

  <div class="checker">
    <section>
      <div class="checkboxThree">
        <input type="checkbox" value="1" id="checkboxThreeInput" name=""/>
        <label for="checkboxThreeInput"></label>
     </div>
   </section>
   <p>I agree to the terms.</p>

  </div>

  <button type="button" name="button"> Create account</button>

  <div class="separator">
    <div></div><p >or</p><div></div>
  </div>
  <a routerLink="/login">Log in with your SMITD Account</a>
  <br>
  <!-- <br><a href="">Can't log in?</a> -->

</div>
